In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ingredients.csv')

In [3]:
df.head()

      5 spice powder;1002002
0         acorn squash;11482
1           adobo sauce;6979
2         agave nectar;19912
3             ahi tuna;15117
4  alfredo pasta sauce;93606

In [4]:
df.columns

Index(['5 spice powder;1002002'], dtype='object')

In [5]:
df['Ingredients'] = df['5 spice powder;1002002'].apply(lambda x: x.split(';')[0])

In [6]:
df.head()

      5 spice powder;1002002          Ingredients
0         acorn squash;11482         acorn squash
1           adobo sauce;6979          adobo sauce
2         agave nectar;19912         agave nectar
3             ahi tuna;15117             ahi tuna
4  alfredo pasta sauce;93606  alfredo pasta sauce

In [7]:
ingredients_json = df['Ingredients'].to_json(orient='records')

with open('ingredients.json', 'w') as file:
    file.write(ingredients_json)